:root {
  --activeColor: #43A047;
}

* {
  box-sizing: border-box;
  transition: all 0.4s;
  margin: 0;
  padding: 0;
}

.player {
  width: 640px;
  height: 360px;
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}

.player:hover .progress {
  height: 15px;
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player__controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(31px);
}

.progress {
  height: 5px;
}

.progress__filled {
  height: 100%;
  width: 70%;
  background: var(--activeColor);

}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.progress,
.player__button,
.player__slider {
  cursor: pointer;
}